<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao projeto de Gamificação em Administração Financeira 1</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Aladin&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/myfirstgame.css' %}">

</head>
<body>
    <div class="page-header">
        <h1>Bem-vindo ao projeto de Gamificação em Administração Financeira 1</h1>
    </div>

<!-->
    {% block content %}
    {% endblock %}
<!-->

</body>
</html>
